<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="BLUE CAT"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ThemTuVungActivity"
            android:exported="false" />
        <activity
            android:name=".BatDauTuVungActivity"
            android:exported="false" />
        <activity
            android:name=".TuVungActivity"
            android:exported="false" />
        <activity
            android:name=".KetThucTuVungActivity"
            android:exported="false" />
        <activity
            android:name=".ThemNguPhapActivity"
            android:exported="false" />
        <activity
            android:name=".KetThucNguPhapActivity"
            android:exported="false" />
        <activity
            android:name=".NguPhapActivity"
            android:exported="false" />
        <activity
            android:name=".BatDauNguPhapActivity"
            android:exported="false" />
        <activity
            android:name=".QuanLyActivity"
            android:exported="false" />
        <activity
            android:name=".ChinhSuaThongTinActivity"
            android:exported="false" />
        <activity
            android:name=".GioiThieuActivity"
            android:exported="false" />
        <activity
            android:name=".CaiDatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Manhinhdangky"
            android:exported="false" />
        <activity
            android:name=".Manhinhdangnhap"
            android:exported="false" />
        <activity
            android:name=".ManHinhChaoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>